<h4><%= question.question %></h4>

<%= question.options.each do |option| %>
 <%= option.text %>
<% end %>

<h3>Questions</h3>
  <%= surveys_builder.fields_for :questions do |question_fields| %>
  <%= question_fields.label :question %>
  <%= question_fields.text_field :question %>
    <% if question_fields.object.persisted? %>
    <br>
      <%= question_fields.label :_destroy, "Delete This Question?" %>
      <%= question_fields.check_box :_destroy %>
    <% end %>
    <br>
<br>
    <%= question_fields.fields_for :options do |option_field| %>
      <%= option_field.label :text, "Option " %>
      <%= option_field.text_field :text %>
      <br>
    <% end %>
    <br>
  <% end %>
<br>
