
<% questions.each_with_index do |q, n| %>
  <% next unless q.persisted? %>

  <h4><%= "#{n+1}. #{q.body}?" %></h4>

  <p>
    <em><%= q.required ? "Required. " : "Optional. "%></em>
    <em><%= select_type_text(q) %></em>
  </p>

  <% unless q.options.empty? %>
    <ol type="A">
      <% q.options.each do |option| %>
      <li><%= option.body %></li>
      <% end %>
    </ol>
  <% end %>

  <%= link_to "Remove Question", survey_question_path(survey, q), method: :delete %>

<% end %>
