<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for( survey ) do |surveys_builder| %>
      <%= surveys_builder.label       :title, "Survey Title" %>
      <%= surveys_builder.text_field  :title,
                                      placeholder: "e.g. \"The Personality Test\"",
                                      class: 'form-control' %>

      <%= surveys_builder.label       :description, "Survey Description" %>
      <%= surveys_builder.text_area   :description,
                                      placeholder: "e.g. \"Discovering what is unique about the humans.\"",
                                      class: 'form-control'%>

      <%= surveys_builder.submit "Create Survey and Begin Adding Questions",
                                  class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
